AFKPETSandmorezhcn.sln
.vscode/settings.json
obj/AFKPETSandmorezhcn.csproj.nuget.dgspec.json
obj/AFKPETSandmorezhcn.csproj.nuget.g.props
obj/AFKPETSandmorezhcn.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
